body {
    
    background:url(./background.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed ;
    background-position: center;
    background-size:cover;  
    margin-bottom:none;
    padding-top:0;
    margin-top:0;
}

#loginbox {
    border-radius: 5px;
    background-color: rgba(7, 7, 7, 0.781);
    text-align: center;
    margin-top:20%;
    margin-left:40%;
    padding-left:5%;
    padding-right:5%;
    padding-top:0;
    padding-bottom:20%;
    color: honeydew;
    max-width: 100px;
    max-height: 100px;

}